<?xml version="1.0"?>
<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="api test">
            <directory>./Integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../src</directory>
        </whitelist>
    </filter>
</phpunit>
